{
  "APIVersion": "V1beta1",
  "Spec": {
    "Annotations": [
      "test",
      "cron"
    ],
    "Deal": {
      "Concurrency": 1
    },
    "Docker": {
      "Entrypoint": [
        "/bin/bash",
        "-c",
        "/bin/bash -c \"mkdir -p /tmp-inputs/tmp; mkdir -p /tmp-outputs/tmp; cp /inputs/* /tmp-inputs/tmp/; ls /tmp-inputs/tmp; cd /src && python /src/inference.py --config=/src/configs_clean/bacalhau.yml; mv /tmp-outputs/tmp/* /outputs/; mv /outputs/lig_equibind_corrected.sdf /outputs/7n9g_ZINC000003986735_docked.sdf; mv /tmp-inputs/tmp/*.pdb /outputs/;\""
      ],
      "Image": "ghcr.io/labdao/equibind:main@sha256:21a381d9ab1ff047565685044569c8536a55e489c9531326498b28d6b3cc244f"
    },
    "Engine": "Docker",
    "Language": {
      "JobContext": {}
    },
    "Network": {
      "Type": "None"
    },
    "Publisher": "Estuary",
    "PublisherSpec": {
      "Type": "Estuary"
    },
    "Resources": {
      "GPU": ""
    },
    "Timeout": 1800,
    "Verifier": "Noop",
    "Wasm": {
      "EntryModule": {}
    },
    "inputs": [
      {
        "CID": "QmZ8wbMQKyHHP2hN47prdSUJ3Wc6eNceR4UMot3JZXnhDu",
        "StorageSource": "IPFS",
        "path": "/inputs"
      }
    ],
    "outputs": [
      {
        "Name": "outputs",
        "StorageSource": "IPFS",
        "path": "/outputs"
      }
    ]
  }
}
