{
  "machine": {
    "gpu": 0,
    "cpu": 3000,
    "ram": 4096
  },
  "Job": {
    "APIVersion": "V1beta1",
    "Metadata": {
      "ID": "0a4c0a80-d355-4c6e-b494-5fd33fac65d5",
      "CreatedAt": "2023-12-04T14:40:01.912580787Z",
      "ClientID": "0b31433ad99cd124a694aac82acd9a7a5e549263254f0bea1a563060a7e4343d",
      "Requester": {
        "RequesterNodeID": "QmbETsVtL1sQ97KKV1jPQA5ng8RSyzPWUiDgRBQp7AcjRt",
        "RequesterPublicKey": "CAASpgIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDaeKS6+PcOSU4Qk9g4Vy/JFXlQK2I/jzd4GDb+jaVXUJxMDZMsBnuHSiX1DD+j/W8/TT2odg3ItGzY3JFex1ba5xTK4fdEfhMHeWHWUxXQ0z0ngF+kr7pnc29viMpgWkK4OsHjyHRTJKW/Ry9SZABrtvrtxNINeNzo+kLI30vmu91dbV/R88N2ROz6NHo24CafcRxM2LS6bi7fWCA5KUv7gVZIus3AdnIz4fHAcgtIvSBUVfVrrU7N60y7rui1r8vGDU/mv50ROyJn8vvdr1d+PvGRrVk7IweiBwW4rg8VjT4wNYOMRI5ROcYw2mF3dLO0+D7WXytYp0rpua3uRJhRAgMBAAE="
      }
    },
    "Spec": {
      "Engine": "Docker",
      "Verifier": "Noop",
      "Publisher": "Estuary",
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Docker": {
        "Image": "ghcr.io/labdao/equibind:main@sha256:21a381d9ab1ff047565685044569c8536a55e489c9531326498b28d6b3cc244f",
        "Entrypoint": [
          "/bin/bash",
          "-c",
          "/bin/bash -c \"mkdir -p /tmp-inputs/tmp; mkdir -p /tmp-outputs/tmp; cp /inputs/* /tmp-inputs/tmp/; ls /tmp-inputs/tmp; cd /src && python /src/inference.py --config=/src/configs_clean/bacalhau.yml; mv /tmp-outputs/tmp/* /outputs/; mv /outputs/lig_equibind_corrected.sdf /outputs/7n9g_ZINC000003986735_docked.sdf; mv /tmp-inputs/tmp/*.pdb /outputs/;\""
        ]
      },
      "Language": {
        "JobContext": {}
      },
      "Wasm": {
        "EntryModule": {}
      },
      "Resources": {
        "GPU": ""
      },
      "Network": {
        "Type": "None"
      },
      "Timeout": 1800,
      "inputs": [
        {
          "StorageSource": "IPFS",
          "CID": "QmZ8wbMQKyHHP2hN47prdSUJ3Wc6eNceR4UMot3JZXnhDu",
          "path": "/inputs"
        }
      ],
      "outputs": [
        {
          "StorageSource": "IPFS",
          "Name": "outputs",
          "path": "/outputs"
        }
      ],
      "Annotations": [
        "test",
        "cron"
      ],
      "Deal": {
        "Concurrency": 1
      }
    }
  }
}
